# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Modelos (Git LFS no es necesario si se ignoran)
reconocimientofacial/modelos/*.yml

# Datos de entrenamiento
reconocimientofacial/Data/

# Logs y otros
*.log
.env
.env.example
.env.production
.env.development
.env.test
.env.local

process.json
