flask>=3.1
flask-cors==4.0.0
gunicorn==23.0.0
opencv-contrib-python>=4.10
imutils>=0.5.4

# Base de datos
mysql-connector-python>=9.0.0

# Procesamiento de imágenes / reconocimiento
numpy==1.26.4
python-dotenv
